webservice/dorayakisupplier.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.dorayakisupplier/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.dorayakisupplier/" name="DorayakiServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.dorayakisupplier/" schemaLocation="dorayakisupplier.xsd"/>
</xsd:schema>
</types>
<message name="addRequest">
<part name="parameters" element="tns:addRequest"/>
</message>
<message name="addRequestResponse">
<part name="parameters" element="tns:addRequestResponse"/>
</message>
<message name="getStatusRequest">
<part name="parameters" element="tns:getStatusRequest"/>
</message>
<message name="getStatusRequestResponse">
<part name="parameters" element="tns:getStatusRequestResponse"/>
</message>
<message name="getAllRecipe">
<part name="parameters" element="tns:getAllRecipe"/>
</message>
<message name="getAllRecipeResponse">
<part name="parameters" element="tns:getAllRecipeResponse"/>
</message>
<portType name="DorayakiService">
<operation name="addRequest">
<input wsam:Action="http://services.dorayakisupplier/DorayakiService/addRequestRequest" message="tns:addRequest"/>
<output wsam:Action="http://services.dorayakisupplier/DorayakiService/addRequestResponse" message="tns:addRequestResponse"/>
</operation>
<operation name="getStatusRequest">
<input wsam:Action="http://services.dorayakisupplier/DorayakiService/getStatusRequestRequest" message="tns:getStatusRequest"/>
<output wsam:Action="http://services.dorayakisupplier/DorayakiService/getStatusRequestResponse" message="tns:getStatusRequestResponse"/>
</operation>
<operation name="getAllRecipe">
<input wsam:Action="http://services.dorayakisupplier/DorayakiService/getAllRecipeRequest" message="tns:getAllRecipe"/>
<output wsam:Action="http://services.dorayakisupplier/DorayakiService/getAllRecipeResponse" message="tns:getAllRecipeResponse"/>
</operation>
</portType>
<binding name="DorayakiServiceImplPortBinding" type="tns:DorayakiService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStatusRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRecipe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DorayakiServiceImplService">
<port name="DorayakiServiceImplPort" binding="tns:DorayakiServiceImplPortBinding">
<soap:address location="http://localhost:8080/webservice/dorayaki"/>
</port>
</service>
</definitions>